.SideDrawer {
	position: fixed;
	width: 280px;
	max-width: 70%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 200;
	background-color: rgb(106, 211, 252);
	margin-top: 56px;
	padding: 16px;
	box-sizing: border-box;
}
